.main {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222730;
}
.row {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #4caab3;
}
.row > span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -30%;
  width: 450px;
  height: 450px;
  transform: rotate(45deg);
  background-color: #222730;
}
@keyframes animationRow {
  0% {
    width: 5000px;
    height: 5000px;
  }
  50% {
    width: 5000px;
    height: 5000px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
@keyframes animationTwo {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.row > span > span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: #4caab3;
  animation: animationTwo 2s forwards;
}
.row > span > span > span {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #222730;
  animation: animationRow 1.5s forwards;
}
